---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title='Ludovic Le Bris | Développeur web'>
	<main>
		<Hero />
		<!-- <Skills /> -->
		<!-- <Projects /> -->
		<!-- <About /> -->
		<!-- <Contact /> -->
	</main>
</Layout>
