---
import Layout from '../layouts/Layout.astro';
import Skills from '@components/Skills.astro'
import Projects from '@components/Projects.astro'
import About from '@components/About.astro'
import Contact from '@components/Contact.astro'
---

<Layout title='Ludovic Le Bris | Développeur web'>
	<main>
		<Projects />
		<Skills />
		<About />
		<Contact />
	</main>
</Layout>
