---
import Image from "astro/components/Image.astro"
import logo from '../assets/logos/LLB-light.svg'

const menuItems = [
    {
        title: 'Compétences',
        path: '#skills'
    },
    {
        title: 'Projets',
        path: '#projects'
    },
    {
        title: 'A propos de moi',
        path: '#aboutMe'
    },
    {
        title: 'Restons en contact',
        path: '#contact'
    },
]
---

<div class="flex justify-between px-8 py-2 md:items-center">
    <div>
        <Image src={logo} alt="Logo Ludovic Le Bris" width={64} loading={'eager'} />
    </div>
    <div class="relative">
        <div id="menuBurger">
            <svg 
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-8 h-8 md:hidden">
                <path 
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
            </svg>
            <nav class="hidden md:block absolute -right-full z-10  bg-white md:bg-inherit">
                <ul class="flex flex-col gap-4 p-4 md:flex-row min-w-max md:gap-2 md:p-0">
                    {
                        menuItems.map((item) => (
                            <>
                                <li class="px-4 md:px-2 hover:underline decoration-primary-light underline-offset-8">
                                    <a href={item.path}>
                                        {item.title}
                                    </a>
                                </li>
                            </>
                        ))
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function ready() {
        const menuBurger = document.querySelector('#menuBurger') as HTMLDivElement;
        const navElement = document.querySelector('nav');

        const toggleNavBar = () => {
            navElement?.classList.toggle('hidden');
        }

        menuBurger.addEventListener('click', () => {
            toggleNavBar();
        })

        document.addEventListener('click', (event: MouseEvent) => {
            const test = (event.target as HTMLElement).parentNode
            console.log(test);
            if (test !== menuBurger && !navElement?.classList.contains('hidden')) {
                toggleNavBar()
            }
        })


    })
</script>