---
import Navbar from '../components/Navbar.astro';
import Hero from '@components/Hero.astro';
import Footer from '../components/Footer.astro';
import ToTopButton from '@components/ui/ToTopButton.astro';

interface Props {
	title: string;
}

export interface LayoutProps {
	title: string
}

const { title = 'Ludovic Le Bris | Développeur web' } = Astro.props as LayoutProps;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-white dark:bg-bg-dark">
		<header class="h-screen h-xs:h-fit xs:h-fit flex flex-col">
			<Navbar />
			<Hero />
		</header>
		<slot />
		<Footer />
		<ToTopButton />
	</body>
</html>